.navigation {
  display: flex;
  justify-content: flex-end;
  padding-top: 8px;
  padding-left: 1px;
}
.navigation__nav {
  display: flex;
  align-items: center;
}
.navigation__nav--img {
  font: 13px/27px Roboto, Arial, sans-serif;
  text-decoration: none;
  color: white;
}

.navigation__nav--img a:hover {
  display: inline;
  border-bottom: 1px white solid;
  text-decoration: solid;
}
.navigation__nav--login {
  margin-right: 18px;
  margin-top: 2px;
}
.navigation__nav--login__a {
  vertical-align: top;
  font-size: 14px;
  font-weight: 500;
  color: #001d35;
  background: #c2e7ff;
  border-radius: 30px;
  padding: 10px 28.5px 14px 28.5px;
  margin-right: 27px;
}
.navigation__nav--more__img {
  width: 18px;
  height: 19px;
}
.navigation__nav--more {
  margin-right: 14px;
  margin-top: 2px;
  display: flex;
  align-items: center; /* 垂直居中 */
  justify-content: center;
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.navigation__nav--img {
  margin-right: 15px;
  margin-top: 4px;
}
.navigation__nav--img--background {
  background-color: #2e2e2f;
  border-radius: 100px;
}
.navigation__nav__dialog {
  position: fixed;
  top: 60px;
  left: 70%;
  z-index: 5;
  width: 350px;
  height: 70%;
  max-height: 500px;
  min-height: 250px;
  background-color: #202124;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #171718;
  box-sizing: border-box;
  height: 100%;
  padding: 3px 10px 14px;
}

.navigation__nav__dialog--display--type--box {
  height: 84px;
  width: 84px;
  cursor: pointer;
  color: #c4c7c5;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
  /* margin: 10px 8px; */
  border-radius: 10%;
  padding: 10px 11px;
  
}
.navigation__nav__dialog--display--type--box__div {
  width: 100%;
  align-items: center;
}
.navigation__nav__dialog--display--type--box__img {
  width: 40px;
  height: 40px;
  margin-top: 10px;
}
.navigation__nav__dialog--display--type--box:hover {
  background-color: #202124;
}
.navigation__nav__dialog--display {
  overflow-y: scroll;
  max-height: 500px;
  min-height: 250px;
  width: 328px;
  height: 100%;
  border-radius: 20px 0px 0px 20px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 15px;
  margin-left: 0px;
}
/* 必须设置否则不会所有滚动条伪类不会生效 */
/* 整个滚动条 */
.navigation__nav__dialog--display::-webkit-scrollbar {
  width: 7px;
  padding-top: 20px;
  margin-top: 20px;
}
/* 轨道 */
::-webkit-scrollbar-track {
  height: 50% ;
  display: none;
  padding-top: 20px;
  margin-top: 20px;
}
/* 箭头按钮 */
::-webkit-scrollbar-button {
  display: none;
}
/* 滑动块 */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(78, 78, 78);
  padding-top: 20px;
  margin-top: 20px;
}
.navigation__nav__dialog--display--type--child {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.navigation__nav__dialog--display--type {
  background-color: #1a1a1b;
  margin-bottom: 5px;
}
