.search {
  height: 150px;
  margin-top: 95px;
}

.search .imgItem {
  width: 272.5px;
  height: 92px;
  margin: 0 auto;
  padding-right: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search .searchArea {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 27px;
}

.search .searchArea .formItem {
  width: 584px;
  border: 1px solid #5f6368;
  border-radius: 30px;
  z-index: 4;
  position: relative;
  box-sizing: border-box;
}

.search .searchArea .formItem .inputItem {
  outline: none;
  background-color: #202124;
  border: none;
  overflow: hidden;
  color: #e8eaed;
  font-size: 16px;
  font-family: Arial, sans-serif;
  line-height: 22px;
  margin-left: 12px;
  flex: 1;
}

.search .searchArea .formItem .inputHover {
  background-color: #313335;
  margin-top: 1px;
  margin-left: 14px;
}

.search .searchArea .formItem .searchBottom {
  text-align: end;
  font-size: 11px;
  font-style: italic;
  margin-top: -16px;
  color: #9e9e9e;
  margin-right: 20px;
  cursor: pointer;
}

.search .searchArea .formItem .baseLine {
  width: 94%;
  height: 1px;
  background-color: #5f6368;
  margin-left: 3%;
}

.search .searchArea .formItem .data .rowMargin {
  margin-top: 10px;
}

.search .searchArea .formItem .data .row {
  display: flex;
  align-items: center;
  color: #e8e8e8;
  cursor: pointer;
  font-size: 16px;
  font-family: Arial, sans-serif;
  font-weight: 500;
  height: 34px;
}

.search .searchArea .formItem .data .row:hover {
  background-color: #3e4042;
}

.search .searchArea .formItem .data .row .author {
  line-height: 12px;
  font-size: 13px;
  color: #9aa0a6;
  margin-top: 2px;
  padding-right: 8px;
}

.search .searchArea .formItem .data .row .noneImg {
  margin-left: 10px;
}

.search .searchArea .formItem .data .row .nothingRow {
  width: 16px;
  height: 16px;
  margin-left: 15px;
}

.search .searchArea .formItem .data .row .divItem {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.search .searchArea .formItem .data .row .spanItem {
  margin-left: 11px;
}

.search .searchArea .formItem .data .row .imgRow {
  margin-left: 8px;
  width: 32px;
  height: 32px;
}

.search .searchArea .formItem .data .firstRow {
  margin-top: 5px;
}

.search .searchArea .formItem .top {
  height: 45px;
  width: 100%;
}

.search .searchArea .formItem .top .divItem {
  width: 582px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search .searchArea .formItem .top .divItem .left {
  width: 70%;
  display: flex;
  align-items: center;
}

.search .searchArea .formItem .top .divItem .left .imgItem {
  width: 16px;
  height: 16px;
  margin-left: 16px;
  padding-bottom: 2px;
}

.search .searchArea .formItem .top .divItem .left .imgItemHover {
  width: 16px;
  height: 17px;
  margin-left: 17px;
  padding-bottom: 3px;
}

.search .searchArea .formItem .top .divItem .right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 22%;
}

.search .searchArea .formItem .top .divItem .right .display {
  visibility: visible;
}

.search .searchArea .formItem .top .divItem .right .hide {
  visibility: hidden;
}

.search .searchArea .formItem .top .divItem .right .mike {
  width: 37.5px;
  height: 33.5px;
  margin-right: 11px;
  margin-bottom: 2px;
}

.search .searchArea .formItem .top .divItem .right .mikeHover {
  width: 15px;
  height: 21.5px;
  margin-right: 22px;
  margin-bottom: 3px;
}

.search .searchArea .formItem .top .divItem .right .InputMikeHover {
  width: 15.2px;
  height: 21.5px;
  margin-right: 21.5px;
  margin-bottom: 3px;
}

.search .searchArea .formItem .top .divItem .right .camera {
  width: 21.6px;
  height: 20px;
  margin-right: 17px;
}

.search .searchArea .formItem .top .divItem .right .InputCameraHover {
  width: 20px;
  height: 20px;
  margin-right: 17px;
  margin-bottom: 2px;
}

.search .searchArea .formItem .top .divItem .right .cameraHover {
  width: 20px;
  height: 20px;
  margin-right: 17px;
  margin-bottom: 2px;
}

.search .searchArea .formItem .top .divItem .right .hidden {
  width: 16px;
  height: 16px;
  margin-right: 16px;
  cursor: pointer;
}

.search .searchArea .formItem .top .divItem .right .hiddenImg {
  width: 16px;
  height: 16px;
  margin-top: 1px;
  margin-right: 16px;
  margin-bottom: 2px;
  cursor: pointer;
}

.search .searchArea .formItem .top .divItem .right .lineHover {
  display: block;
  border-left: 1px solid #5f6368;
  height: 29px;
  margin-right: 17px;
  margin-bottom: 2px;
}

.search .searchArea .formItem .top .divItem .right .line {
  display: block;
  border-left: 1px solid #5f6368;
  height: 29px;
  margin-right: 4.2px;
  margin-bottom: 2px;
}

.search .searchArea .searchButtonItem {
  display: flex;
  width: 100%;
  height: 58px;
  justify-content: center;
  align-items: center;
  margin-top: 17px;
}

.search .searchArea .searchButtonItem .searchButtonBackground {
  background-color: #303134;
}

.search .searchArea .searchButtonItem .searchButton {
  border-radius: 4px;
  color: #e8eaed;
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin-top: 3px;
  line-height: 27px;
  height: 36px;
  cursor: pointer;
}

.search .searchArea .searchButtonItem .googleButton {
  margin-right: 6px;
  padding: 0px 16px 0 15.5px;
}

.search .searchArea .searchButtonItem .luckyButton {
  margin-left: 6px;
  padding: 0px 19.5px 0 20px;
}

.search .searchArea .searchButtonItem .buttonBorder {
  border: 1px solid #303134;
}

.search .searchArea .searchButtonItem .buttonBorderHover {
  border: 1px solid #5f6368;
}

.search .searchArea .language {
  color: #bfbfbf;
  display: flex;
  line-height: 28px;
  font-size: small;
  margin-top: 12px;
  font-family: Arial, sans-serif;
}

.search .searchArea .language .pd {
  padding: 0 0px;
}

.search .searchArea .language .change {
  color: #99c3ff;
  text-decoration: none;
  padding: 0 2.9px;
  cursor: pointer;
  height: 22px;
  margin-left: 4px;
}

.search .searchArea .language .change:hover {
  box-sizing: border-box;
  border-bottom: 1px solid #99c3ff;
}

.search .searchArea .formBackground {
  background-color: #313335;
  border: none;
  padding: 0.8px 0px;
  border-radius: 25px;
}
