.bottom {
  position: fixed;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  background-color: #1a1a1b;
  left: 0;
  right: 0;
  bottom: 0;
  color: #e8e8e8;
}

.bottom .left {
  display: flex;
  margin-left: 20px;
  height: 49px;
}

.bottom .right {
  display: flex;
  margin-right: 20px;
  height: 49px;
}

.bottom .textStyle {
  padding-top: 15px;
  margin: 0px 15px;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  font-family: Arial, sans-serif;
}

.bottom .textStyle:hover {
  border-bottom: 1px white solid;
  box-sizing: border-box;
  display: block;
  height: 32px;
}
